
@media (max-width: 688px) {
    .container{
        width: 100%;
    }
    .header-menu{
        display: none;
    }
    .top-banner{
        grid-template-columns: 1fr;
        margin-top: 0;
        padding-bottom: 50px;
    }
    .half-width h1 {
        font-size: 40px;
        margin-top: 0px;
    }
 
    .half-width img {
        margin-top: 50px;
    }

    /* players section  */
    .players{
           grid-template-columns: 1fr;
     }
     
     /* sponsor section */

     .sponsor{
         display: none;
     }
     /* ----------
    article section start
    ----------- */

     .side-banner{
         grid-template-columns: 1fr;
     }
     .side-banner h2 {
       font-size: 30px;
       padding-left: 5px;
     }
     .side-banner p{
         padding-left: 10px;
     }
/*------------ 
Group Section 
-------------*/

.groups h1 {
    text-align: center;
}
.groups h2{
 font-size: 15px;
 text-align: center;
}

.final-sourceBox{
   width: 200px;
}

.final-info{
 display: none;
}
.final-source img{
    max-width: 65px;
    margin-left: -19px;
}

.final-source h5{
    margin-left: -36px;
}

.point {
    padding-left: 0px;
    margin-top: -6px;
}


/*--------------------
 Teams country section
 --------------------- */

 .teams-country{
     display: grid;
     grid-template-columns: 1fr;
 }

 .teams h2 {
     text-align: center;
 }

 .footer-logo img {
    max-width: 211px;
    max-height: 49px;
    margin-left: 150px;
    margin-bottom: 12px;
 }
}

@media only screen and (min-width: 688px) and  (max-width: 992px) {
    .container{
        width: 100%;
    }
    .header-menu{
        display: none;
    }
    .top-banner{
        grid-template-columns: repeat(2, 1fr);
        margin-top: 0;
        padding-bottom: 50px;
    }
    
    /* players section  */
    .players{
        grid-template-columns: repeat(2, 1fr);
  }
}