@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}
.content-center{
    display: grid;
    justify-content: center;
}
.container{
    width: 1163px;
}
.link-btn{
    padding: 10px 24px;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    background-image: linear-gradient(#E02C6D, #8b2a4e);
}
/**************************
 header section 
 *************************/
.header-area{
    background: #2D25A0;
    padding-top: 42px;
    overflow: hidden;
}

/* .header-area */


.header-menu{
    display: flex;
    justify-content: space-between;
}
.header-area .menu-item a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    margin-right: 36px;
}
.top-banner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 50px;
    margin-top: 50px;
    padding-bottom: 85px;
}
.half-width h1{
    color: #fff;
    font-size: 64px;
    letter-spacing: 2px;
    font-weight: 700;
    margin-bottom: 27px;
}

.half-width img{
    width: 100%;
}
.half-width img:hover{
    transform: scale(1.1) skew(2deg);
    transition: transform 2s ease-in-out;
}
/*******************
 players section 
********************/
.players-area{
    margin-top: 70px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
}
.player{
    padding: 10px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player img{
    width: 100%;
}
.player .player-name{
    margin-top: 16px;
    margin-bottom: 0;
    font-size: 28px;
    color: #18191F;
}
.player p{
    margin-top: 10px;
    font-size: 16px;
    color: #6C6C6C;
    line-height: 25px;
}


/* sponsor section */

.sponsor {
    width: 772px;
    margin: 75px auto -45px;
}

/* ----------
article section
----------- */
.side-banner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 50px;
    margin-top: 120px;
    padding-bottom: 85px;
}

.side-banner h2{
    color: #000;
    font-size: 48px;
    padding-top: 30px;
}

.side-banner p{
    color: #6C6C6C;
    margin-top: 5px;
    line-height: 33px;
    padding-bottom: 35px;
}



/*---------
 video section
------------- */
.vedio-area{
    display: grid;
    justify-content: center;
    align-items: center;
}

/* 
/****************
teams section 
***************/ */
.team-area{
    margin-top: 10px;
}
.team-area .team-title{
    font-size: 50px;
}
.team-area .teams{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
}
.teams img{
    width: 220px;
    height: 220px;
}

/* -----------
Footer Section 
-----------*/

/**************************
 footer section  
 ***********************/
 .footer-area{
    padding-bottom: 40px;
    padding-top: 54px;
    margin-top: 75px;
    text-align: center;
    background: #f7f6ff;
}
.footer-area .logo{
    height: 110px;
    background: none;
}
.social-icons{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.social-icons i{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right:14px;
    display: flex;
    justify-content: center;
    align-items: center;
   
    background: #969BAB;
}
.social-icons i:hover{
    cursor: pointer;
    background: rgb(10, 10, 10);
    color: blue;
}
.footer-area p{
    font-size: 18px;
}


